= form_with url: products_path,
  class: "filters-container",
  method: :get,
  data: { controller: "filters search", search_target: "form", filters_target: "form", turbo_frame: "table", turbo_action: "advance" }, local: true do |f|

  .filters-group
    = f.label :category, "Filter by category"
    = f.select :category,
      options_for_select(Product.categories.keys, params[:category]),
      { include_blank: true },
      { data: { action: "filters#submit" } }


  .filters-group
    = f.label :search, "Search"
    = f.search_field :search, 
      value: params[:search], 
      placeholder: "Search Products", 
      data: { search_target: "input", action: "input->search#search " } 
    